<% messages.each do |message| %>
  <div class="body__content", data-id= <%= message.id %>>
    <div class="body__content-name"><%= message.user.name %></div>
    <div class="body__content-time"><%= message.created_at.strftime("%y年%m月/%d日/%H時%M分")%></div>
    <div class="body__content-text"><%= message.body %></div>
    <%= image_tag message.image, class: 'body__content-image' if message.image.present? %>
  </div>
<% end %>