<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div class="box">
    
    <!--左-->
    <div class="left_box">
      <!--左上-->
      <div class="user_side">
        <div class="content">
          <div class="content__name"><%= current_user.name%></div>
          <div class="content__option">
            <%= link_to "#", :class => "content__option--edit-white" do %>
              <i class="fa fa-edit"></i>
            <% end %>
            
            <%= link_to edit_user_path(current_user),  :class => "content__option--cog-white" do %>
              <i class="fa fa-cog"></i>
            <% end %>
          </div>
        </div>
      </div>
      
      <!--左下グループ-->
      <div class="group">
       <!--部分テンプレート-->
       <!--controllerで@変数をeach文で回してpartialのlocals{}内で使用する-->
       <%= render partial: "left_box_group" %>
      </div>
    </div>
    
    <!--右上-->
    <div class="right_box">
      <div class="header">
        <div class="header__group">
          <div class="header__group-name">グループ名</div>
          <a href="#" class="header__group-edit">edit</a>
        </div>
        
        <div class="header__member">
          Member:
          <!--メンバー名取得-->
          <i>Yohei</i>
        </div>
      </div>
      
      <!--チャットエリア-->
      <div class="body" >
        <!--部分テンプレート-->
        <!--controllerで@変数をeach文で回してpartialのlocals{}内で使用する-->
        <%= render partial: "right_box_message" %>
      </div>
      
      <!--テキスト入力-->
      <div class="footer">
        <form class="footer__form" action="/#/#" method="post" >
          <input type="text" name="text" placeholder="type a message" class="footer__form-text"/>
          
          <label class="chat-file">
            <input class="image" type="file" name="image">
              <div class="fa fa-image"></div>
          </label>
          
          <input type="submit" value="Send" class="footer__form-send"/>
        </form>
      </div>
    </div>
  </div>
</body>
</html>