  <div class="box">
    <!--左-->
    <%= render partial: "shared/left_box" %>
    
    <div class="right_box">
      <div class="header">
        <div class="header__group">
          <div class="header__group-name"><%= @group.name %></div>
          <%= link_to edit_group_path(@group), :class => "header__group-edit" do %>
            <p>edit</p>
          <% end %>
        </div>
        
        <div class="header__member">
          Member:
          <!--メンバー名取得-->
          <i>Yohei</i>
        </div>
      </div>
      
      <!--チャットエリア-->
      <div class="body" >
        <% if @messages.last != nil %>
          <%= render partial: "right_box_message", locals: {messages: @messages} %>
        <% end %>
      </div>
      
      <!--テキスト入力-->
      <div class="footer">
        <div class="footer__form">
        <%= form_for [@group, @message] do |f| %>
            <%= f.text_field :body, class: "footer__form-text", placeholder: "type a message" %>
            
            <%= f.label :image, class: "footer__form-chatfile" do %>
              <%= f.file_field :image, class: "footer__form-chatfile-image" %>
              <%= fa_icon "image" %>
            <% end %>
            <%= f.submit :Send, class: "footer__form-send" %>
        <% end %>
        </div>
        
      </div>
    </div>
  </div>
